body {
    background-color:rgb(255, 255, 255);
    font-family:arial;
    color: rgb(0, 0, 0);
    background-image: url("https://wallpaperaccess.com/full/3533264.jpg");
}
header{
    color: black;
    font-family:Verdana;
    background-color: #f4f4f4;
    padding: 1rem;
}
.form{
    width: 500px;
    margin-left: 23rem;
    margin-right: 3rem;
    padding: 3rem;
}
#my-form{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding: 3rem;
    background: #f4f4f4;
    border-radius: 25px;
}
label{
    width: 120px;
    display: inline-block;
}
/* #result{
    display: block;
    width: 90%;
    padding: 10px 15px;
    border: 10;
    background: #f4f4f4;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 5px 0;
} */


